/*
     CSS RESET
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --highlight-start-rgb: 173, 28, 28;
  --highlight-end-rgb: 128, 0, 28;
  --text-glow-rgba: 244, 235, 100, 0.25;
  --bulb-rgb: 125, 36, 6;
  --footer-text-rgb: 140, 140, 140;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 25, 22;
  --background-end-rgb: 0, 0, 0;
  --highlight-start-rgb: 14, 107, 45;
  --highlight-end-rgb: 10, 77, 32;
  --text-glow-rgba: 10, 77, 32, 1;
  --bulb-rgb: 244, 235, 100;
  --footer-text-rgb: 10, 77, 32;
}

body {
  position: relative;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1 {
  font-size: 1.6rem;
}

a {
  color: inherit;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 6rem 4rem 6rem;
}

.content {
  display: flex;
  align-items: center;
  max-width: 72rem;
  width: 100%;
}

.splash-content {
  z-index: 10;
  max-width: 64rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  gap: 4rem;
}

#header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 6rem 2.5rem 6rem;
  z-index: 50;
  text-shadow: 0 0 10px rgba(var(--text-glow-rgba));
  backdrop-filter: blur(20px);
  mask: linear-gradient(0deg, transparent, black 50%);
  -webkit-mask: linear-gradient(0deg, transparent, black 50%);
}

#header .content {
  justify-content: space-between;
  flex-grow: 1;
}

#header button {
  background: none;
  border: none;
  font-size: large;
}

#header button:hover {
  color: rgb(var(--bulb-rgb));
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}

#footer {
  padding: 0.5rem 1rem;
  /* display: fixed; */
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  color: rgba(var(--footer-text-rgb));
}

#challengeForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: -10;
  max-width: 16rem;
  height: 100%;
}

#challengeDay div {
  margin: 0.125rem;
  /* z-index: 0; */
}

#challengeText textarea {
  margin: 0.25rem 0.5rem;
  width: 100%;
}

#challengeForm button {
  margin: 0.25rem auto;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  background-color: rgb(var(--background-end-rgb));
  border: 0.125rem solid rgb(var(--background-start-rgb));
  border-radius: 0.5rem;
  color: rgb(var(--foreground-rgb));
}

#challengeForm button:hover {
  border-color: rgb(var(--highlight-start-rgb));
  transition: border 0.15s ease;
  translate: -1px -1px;
  transition: translate 0.1s ease;
}

.answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.answerField {
  background-color: rgb(var(--background-start-rgb));
  display: flex;
  /* width: 100%; */
  height: 2.25rem;
  padding: 0 1rem;
  align-items: center;
  border-radius: 6px;
  min-width: 8rem;
}

.colourGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  border-radius: 0.5rem;
  aspect-ratio: 1;
  z-index: 1;
}

.colourGrid:hover > .mouseGlow {
  opacity: 1;
  visibility: visible;
}

.mouseGlow {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background-color: rgb(var(--highlight-start-rgb));
  border-radius: 100%;
  filter: blur(0.5rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
}

.colourTile {
  z-index: 10;
  aspect-ratio: 1;
}

.colourTile input {
  display: none;
}

.colourTile input:not(:checked) + label {
  background: radial-gradient(rgb(var(--background-start-rgb)) 70%, rgb(var(--background-start-rgb)) 100%);
}

.colourTile input:checked + label {
  background: radial-gradient(rgb(var(--highlight-start-rgb)) 70%, rgb(var(--highlight-end-rgb)) 100%);
  color: rgb(255, 255, 255);
}

.colourTile label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.0625rem;
  /* padding: 0 0.5rem; */
  aspect-ratio: 1;
  border-radius: 0.125rem;
  background-color: var(--background-end-rgb);
  border: 0.125rem solid gray;
}

.colourTile label:hover {
  translate: -1px -1px;
  transition: all 0.1s ease;
  scale: 0.95 0.95;
}

@media screen and (max-width: 768px) {
  .splash-content {
    flex-direction: column;
    gap: 2rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  #challengeForm {
    max-width: 100%;
  }

  .container {
    padding: 8rem 4rem 4rem 4rem;
  }

  #header {
    /* padding: 1.5rem 3rem; */
    padding: 1.5rem 3rem 2.5rem 3rem;
  }
}
